.controls {
  max-width: 180px;
  line-height: 60px;
}

.btn {
  height: 45px;
  width: 180px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
}

.btn:hover {
  height: 50px;
  width: 200px;
}

.btn.comprar-agora {
  background-color: rgb(255, 196, 0);
}

.btn.add-carrinho {
  background-color: rgb(0, 255, 85);
}

.btn.add-carrinho i {
  font-size: 18px;
}

.btn.add-carrinho-small {
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.btn.add-carrinho-small i {
  font-size: 20px;
}
.btn.finalizar-compra {
  background-color: #fff;
  width: 180px;
  height: 35px;
  font-size: 12px;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.btn.finalizar-compra:hover {
  background-color: #eeeeee;
}

.btn-clear-filter {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 7px;
  border-radius: 8px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
}
